/* Style for fonts */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Black.ttf);
    font-weight: 700;
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: white;
}

.conteiner{
position: absolute;
width: 1366px;
top: 50%;
left: 50%;
transform: translate( -50%, -50% );
background: url(./images/background\ 1.png);
padding-top: 46px;
padding-left: 165px;
padding-right: 178px;
}

/* Header Logo and contacts */

.header{
display: flex;
width: 100%;
justify-content: space-between;
font-family: 'Roboto';
font-style: normal;
color: white;

}

.text-decoration{
    padding-left: 63px;
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 700;
    background: url(./images/logo\ 3.png);
    background-repeat: no-repeat;
}

.text-decoration:hover {
    color:#F26522;
    background: url(./images/logo\ 2.png) ;
    background-repeat: no-repeat;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 400px;
    font-weight: 400;
}

.contacts:hover, .email:hover, .number:hover {
    color: #F26522;
}

.logo-text{
    font-size: 25px;
}

.logo-text-small{
    font-size: 18px;
}
/* Main Content Card */
.main{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(2,1fr);
 height: 100%;
column-gap: 19px;
padding-top: 22px;
}

/*  First Card Shopping */


.block{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

.image-wrapper{
    position: relative;
    overflow: hidden;
    height: 220px;
    border-left: 2px solid;
    border-right: 2px  solid;
    border-image: linear-gradient(white, black) 1 100% ;
}

.card-tittle{
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: white;
text-align: center;
z-index: 1;

}

.text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 10px;
}

.momey{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
}

/* Alignment */

.shopping, .bars{
    justify-self: start;
}

.sightseeing, .art{
    justify-self: center;
}

.food, .walking{
    justify-self: end;
}

/* Weeding out prices */
.bottom-panel{
    position: absolute;
    bottom: -85px;
    left: 0;
    width: 100%;
    padding: 7px 14px 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F26522;
    font-family: 'Roboto';
    font-style: normal;
    transition: 200ms;
    color: white;
}

.price{
    display: flex;
    justify-content: space-between;
}

.view-deteils::after{
content: url(./images/Vector\ 1.png);
justify-content: space-between;
margin-left: 15px;
}

.block:hover .bottom-panel{
    bottom: 0;
}

.card:hover .card-tittle{
    color: #F26522;
}

/* footer */
.footer{
margin-top: 44px;
display: flex;
justify-content: center;
margin-bottom: 15px;
}

.tittle-footer{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
}
